* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(#636e72, #b2bec3, #dfe6e9);
}

.highscores {
    font-size: 20px;
    position: absolute;
    left: 25px;
    top: 15px;
}

.timer {
    font-size: 20px;
    position: absolute;
    right: 25px;
    top: 15px;
}

.container {
    display: flex;
    width: 100vw;
    height: 50vh;
    width: 800px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    overflow: hidden;
}

.start {
    text-align: center;
}

.highscore {
    text-align: center;
}

.start-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
}

.btn {
    border: 1px solid #74b9ff;
    background-color: #0984e3;
    border-radius: 5px;
    padding: 5px 10px;
    color: floralwhite;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.ans-btn {
    font-size: 25px;
}

.correct {
    opacity: 0.3;
    font-size: 50px;
    text-align: center;
    background-color: palegreen;
    color: black;
}

.wrong {
    opacity: 0.3;
    font-size: 50px;
    text-align: center;
    background-color: orangered;
    color: black;
}

.end-title {
    font-size: 80px;
    text-align: center;
    color: orangered;
}

.hidden {
    display: none;
}